<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaiva - Commands</title>
    <%- include('components/head') %>
</head>

<body class="bg-gray-900 text-white overflow-x-hidden">
    <%- include('components/nav') %> 

    <section id="command" class="py-28 bg-gray-800">
        <div class="md:max-w-[85%] max-w-full mx-auto pt-8 px-4 sm:px-6 lg:px-8">
            <div class="text-center mb-20" data-aos="fade-up">
                <h2 class="text-3xl md:text-4xl font-bold text-white mb-6">
                    Seluruh Command
                </h2>
                <p class="text-base md:text-lg text-gray-300 max-w-3xl mx-auto">
                    Berikut adalah seluruh informasi command yang tersedia di bot Kaiva.
                </p>
            </div>

            <% if(slash_commands.length > 0) {%>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6 mb-16">
                    <% slash_commands.forEach(function(cmd, i){ %>
                        <div class="bg-gray-700 rounded-xl p-6 hover:bg-gray-600 transition-colors duration-300 border border-gray-600"
                            data-aos="fade-up" data-aos-delay="<%= i*100 %>">
                            <div class="flex items-center mb-4">
                                <span class="bg-discord text-white px-3 py-1 rounded-lg font-mono text-xs">
                                    /<%= cmd.name %>
                                </span>
                            </div>
                            <h3 class="text-base font-semibold text-white mb-2"><%= cmd.name.replaceAll('-', ' ').split(' ').map(x => x.slice(0,1).toUpperCase()+x.slice(1)).join(' ') %></h3>
                            <p class="text-gray-300 text-sm mb-4">
                                <%= cmd.description %>
                            </p>

                            <% if(cmd.options.length > 0){ %>
                                <div class="text-xs font-bold">Options:</div>
                                <ul class="">
                                    <% cmd.options.forEach(function (opt) { %>
                                        <li class="text-gray-300 my-1">
                                            <small class="text-white bg-gray-500 px-2 py-1" style="border-radius: 4px;"><%= opt.name %><% if(opt.required) { %><span class="text-sm font-bold" style="color: rgb(255, 65, 65) !important;"> *</span> <% } %></small>
                                            <small class=""><% if(opt.required) { %>&nbsp; <% } %><%= opt.description %></small>
                                        </li>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </div>
                        <% }) %>
                    </div> 
                <% } else { %>
                    <div class="flex justify-center" data-aos="fade-up">
                        <small class="text-slate-400 text-center">Command tidak tersedia.</small>
                    </div>
                    <% } %>
        </div>
    </section>

    <%- include('components/footer') %>

</body>

</html>